<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p>
      <h2>Instructions:</h2>
      <ul>
        <li>Search</li>
        <ol>
          <li>Enter any keyword(s) to search and press Enter</li>
        </ol>
      </ul>
      <ul>
          <li>Browse</li>
          <ol>
            <li>Browse full complete dictionary <%= link_to 'here', acronyms_path %></a></li>
            <li>Navigate alphabetically or use icons</li>
          </ol>
        </ul>
      <ul>
        <li>Adding data</li>
        <ol>
          <li>
            Add data individually by providing input fields
          </li>
          <li>To import a csv data file, click on Import and select file.</li>
          <li>Format for csv can be downloaded must be as shown.</li>
          <%= image_tag('format') %>
        </ol>
      </ul>














      </p>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
