<p>
  Instructions:

A. Search

1. Enter any keyword(s) to search and press Enter


B. Browse

1. Browse full complete dictionary <a href="#"> here</a>
2. Navigate alphabetically or use icons

C. Adding data

1. Add data individually by providing input fields
2. To import a csv data file, click on Import and select file.
</p>
