<div class="table-responsive">


<table class="table">
  <tr>
    <th>Acronym </th>
    <th>Full Form</th>
  </tr>
  <% @acronyms.each do |arc| %>
    <tr>
        <td><%= arc.acry %> </td>
        <td><%= arc.full_form %> </td>
    </tr>
  <% end %>

</table>
</div>
<%= will_paginate @acronyms %>
